body{
	text-align: center;
	background-color: #222;
	color: white;
	font-family: system-ui;
}

.scoreContainer{
	font-size: 20px;
	margin-bottom: 10px;
}

canvas{
	border: 3px solid white;
	border-radius: 2px;
	background-color: black;
	display: block;
	margin: 10px auto;
}

button{
	font-size: 18px;
	background-color: #444;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

button:hover{
	background-color: #666;
}